@model IEnumerable<AspNetCoreNHibernate.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Suppliers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @nameof(Supplier.Company)
        </th>
        <th>
            @nameof(Supplier.Products)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>       
        <td>
            @item.Company?.Name
        </td>
        <td>
            @string.Join(',', item.Products?.Select(p => p.Name))
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
